.headerbar-coloured {
  position: absolute;
  background-color: #003a80;
  width: 100%;
  margin: 0 0 0 15px;
  height: 50px;
}

.search-vocab-text {
  background-color: #a4c400;
  opacity: 0.95;
  height: 40px;
  float: left;
  text-align: right;
  line-height: 40px;
}

.header-float {
  margin-right: 20px;
}

.header-left > h1 {
  background-color: #003a80;
  line-height: 50px;
  margin: 0 0 0 15px;
  opacity: 0.99;
  overflow: hidden;
}

.topbar-white {
  background-color: #003a80;
}

#logo{
  min-width: 40px;
  display: normal;
  position: absolute;
  width: 4%;
  height: 100%;
}
#service-name{
  margin-left:100px;
}
#content{
  width:100%;
  background-color: #003a80;
}

.frontpage-spacing{
  background-color: #003a80;
}
