{% extends "light.twig" %}
{% block sidebar %}{% endblock %}
{% block headernav %}{% endblock %}
{% block content %}
<div id="about-inrae">
  <h1>{% trans "About" %}</h1>
  <div>
    {% include ['about.inc', 'about.inc.dist']  %}
  </div>
</div>
{% endblock %}
