{% extends "light.twig" %}

{% block title %}: {% trans "Feedback" %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block headernav %}{% endblock %}
{% block content %}
<div>
	<h1>{% trans "Feedback" %}</h1>
	<p>Vous pouvez nous faire parvenir vos commentaires sur les vocabulaires de la législation Luxembourgeoise en envoyant un e-mail à <strong><a href="mailto:vocabulaires@scl.etat.lu?subject=Vocabulaires%20Legilux">vocabulaires@scl.etat.lu</a></strong>.</p>
	<p>Avant de nous écrire n'oubliez pas de consulter la page <a href="{{ request.lang }}/about">A propos</a> qui pourra répondre à certaines questions.</p>
	<p>Pour des retours sur Legilux en général, consultez la <a href="http://legilux.public.lu/editorial/contact">page de contact Legilux</a>. La documentation générale du projet Casemates pour la diffusion des données de la loi luxembourgeoise est disponible sur la <a href="http://legilux.public.lu/editorial/casemates">page de documentation de Casemates</a>.</p>
</div>
{% endblock %}
